// COLORS AND VARIABLE

$primary-colour: #0B7976;
$primary-colour-dark: rgb(10, 95, 92);
$display-font: "Product sans",sans-serif;
$text-font: "Roboto", sans-serif;
$text-color: #333;
$heading-colour: #333;
$colour-white: #fff;
$display-colour: #f6ffff;
$colour-grey: #d1d1d1;

$bd-lg : 0px 8px 20px rgba(rgb(48, 48, 48), .2);
$bd-sm : 0px 3px 10px rgba(rgb(48, 48, 48), .1);


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
